html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.hero-wrapper {
  background-color: lightblue;
}

.row {
  height: 50%;
}

#my-button {
  display: block;
  width: 75%;
  min-width: 250px;
  margin: 0 auto;
}

#message-container {
  border-radius: .75rem;
}

footer {
  grid-row: 2/3;
}

@media screen and (min-width: 768px) {
  #header {
    margin-bottom: 5rem !important;
  }
}